/*Google fonts import*/


@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&family=Josefin+Sans:ital,wght@0,600;1,600&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@1,900&family=Varela+Round&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles*/
    color: #3a3a3a;
}

/*Header*/
header {

    background-color: beige;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

h1 {
    font-family: 'PT Sans', Times, serif, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(71, 29, 5);
    text-shadow: 5px;
    font-weight: 900;


}

nav ul li a {
    text-decoration: none;
    color: black;
}

#menu {
    font-size: 130%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #0e0101;
}

/* Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: beige;
    width: 100%;
    left: 0;
    padding: 0, 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;


}

/*nav-toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Section*/
/*home page*/
main {

    background-color: beige;
    /*Make the main section to take up the space to push the footer bottom of the page*/
    flex: 1 0 auto;
    margin-top: 43px;
    margin-bottom:65px;
    font-family: 'cursive', sans-serif;
    line-height: 1.6;
    /*margin: 0px auto;*/
    padding: 0px;
    color: #333;

}

.index{
    display: block;
    margin-left: -10;
    margin-right: 10;
    position: center;
    size: cover;
    width: 100%;
    line-height: 2.0;

}

#about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: center;
    size: cover;
    width: 100%;
}

#about h3 {
    font-size: 250%;
    color: rgb(63, 27, 2);
}

#benefits h2 {
    font-size: 250%;
    color: rgb(63, 27, 2);
}

#contact h3 {
    font-size: 250%;
    color: rgb(63, 27, 2);
}

#benefits h3 {
    font-size: 100%;
    color: rgb(63, 27, 2);
}

#about p,
#benefits p,
#contact p {
    font-size: large;
    font-family: cursive ,sans-serif;
}

/*event page*/

#event {
    background: url("../images/Event-PAGE-2.webp") no-repeat center center /cover;
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#event h2 {
    font-weight: 600;
    font-family: cursive, sans-serif;
    color: rgb(247, 247, 247);
    padding: 20px;
    margin: 10px;
    width: 600px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;

}

#event-time {
    width: 600px;
    height: 300px;
    padding: 20px;
    margin-left:20px;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
}

#center {
    margin: auto;
    width: 100%;
    padding: 10px;

}

#event-time li {
    color: #ffffff;
    list-style-type: none;
    text-transform: capitalize;
    font-weight: 300;
    font-family: cursive, sans-serif;
    font-size: 150%;
    justify-content: center;
 


}

#venue {
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;

}

#venue li {

    font-weight: 300;
    font-family: cursive, sans-serif;
    color: rgb(247, 247, 247);
    list-style-type: none;
    padding: 3px;
    font-size: large;

}

/*#note {
    width: 500px;
    height: 70px;
    padding: 20px;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;

}

#note p {
    font-family: cursive, sans-serif;
    color: rgb(247, 247, 247);
    font-size: medium;
}*/

/*Signup page*/
.background{
    background-image: url("../images/sign-up-page.webp");
    background-size: cover;
    background-position: 50%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
.register-form{
    display:block;
    width: 225px;
    height: 570px;
    padding: 20px;
    margin: 0px;
    margin-top:30px;
    background-color: rgba(218, 144, 144, 0.8);
    align-items:center;
    margin-bottom:10px;
    color:#0e0101;

}
.input {
    background: transparent;
    color: #000000;
    width: 100%;
    height: 25px;
    margin: 10px 0 20px 0;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 0 5px;
}
#drop-down{
    color: #080000;
    width: 100%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left:-10px;
    border-radius: 2px;
    padding: 5px;

}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    padding: 15px 32px;
    font-size: 100%;
    text-transform: uppercase;
    background-color: #7c554e;
    color: #0a0303;
    font-weight: 300;
}
/*confirmation page*/
#bg{
    background-color: beige;
}
#message{
    font-size:120%;
    color:rgb(51, 3, 3);
    font-weight: 200;
    margin: 100px 10px;
    text-align: center;
}



/*Footer*/

footer {
    background-color: beige;
    position: fixed;
      }


/*footer h4 {
    font-family: 'Caveat', sans-serif;
    font-size: 200%;
    color: rgb(71, 29, 5);
    text-transform: capitalize;
}*/


#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a
}

/*Make website responsive*/
@media screen and (min-width:280px) {
    #logo {
        font-size: 150%;
        font-weight: bold;
    }

    main {
        margin-top: 42px;
    }
   .index{
    padding:10px;

   }

    #event h2 {
        font-size: 120%;
        font-weight: 200;
        padding: 25px;
        margin-left: -10px;
        margin-bottom: 40px;
        width: 240px;
        height: 140px;
        background-color: rgba(0, 0, 0, 0.5);
        align-content: center;
        text-align: center;
        flex-grow:1;

    }

    #event-time {
        width: 240px;
        height: 500px;
        padding: 15px;
        margin-left: -10px;
        margin-right: 20px;
        align-content: center;
    }

    #event-time li {
        font-weight: 550;
        font-family: cursive, sans-serif;
        font-size: 110%;
        justify-content: center;
        text-align: center;
        margin-bottom: 15px;
    }
    #venue {
        width: 240px;
        height: 200px;
        padding: 20px;
        margin-left: -10px;
        margin-right: 30px;
        margin-top:40px;
        align-content: center;
        text-align: center;
    
    }
    
    #venue li {
    
        font-weight: 300;
        padding: 3px;
        font-size: large;
    
    }
    /*Footer*/
    footer {
        background-color: beige;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
          }


#about h3 {
    font-size: 150%;
    color: rgb(63, 27, 2);
    
}

#benefits h2 {
    font-size: 150%;
    color: rgb(63, 27, 2);
}

#contact h3 {
    font-size: 150%;
    color: rgb(63, 27, 2);
}

#benefits h3 {
    font-size: 150%;
    color: rgb(63, 27, 2);
}
}

/*Responsive to tablet*/
@media screen and (min-width:768px) {

    /*Header*/
    #logo {
        font-size: 200%;
        font-weight: bold;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        margin-top: 80px;
    }

    #about img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: center;
        size: cover;
        width:100%;

    }
    /*Event page*/

    #event h2 {
        font-size: 150%;
        font-weight: 400;
        padding: 20px;
        margin-left: 0px;
        margin-right: 100px;
        margin-bottom: 40px;
        width: 600px;
        height: 80px;
        align-content: center;
        text-align: center;
    }
    #event-time {
        width: 600px;
        height: 500px;
        padding: 40px;
        margin-left: 0px;
        margin-right: 20px;
        align-content: center;
    }

    #event-time li {
        font-weight: 550;
        font-size: 140%;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }
    #venue {
        width: 350px;
        height: 200px;
        padding: 20px;
        margin-left: 100px;
        margin-right: 30px;
        margin-top:40px;
        align-content: center;
        text-align: center;
    
    }
    
    #venue li {
    
        font-weight: 300;
        padding: 3px;
        font-size: 120%;
    
    }

    /*signup page*/
    .register-form{
        width: 320px;
        height: 610px;
        padding: 30px;
        margin: 0px;
        margin-top:70px;
        padding-bottom: 20px;
    
    }
    .input {
        width:100%;
        height: 25px;
        margin: 10px 0 30px 0;
        padding: 0 10px;
    }
    #drop-down{
        width: 120%;
        height: 35px;
        margin-top: 20px;
        margin-bottom: 40px;
    
    }
    .join-button {
        margin: 30px;
        margin-top:10px;
        padding: 15px 32px;
}
/*Confirmation page*/

#message{
    font-size:180%;
    color:rgb(51, 3, 3);
    font-weight: 200;
    margin: 100px 30px;
}


}
/*Responsive to desktop*/

@media screen and (min-width:922px) {

    #menu a:hover {

        border-bottom: 1px solid #0e0101;


    }

    #about img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: center;
        size: 100%;
        width: 100%
    }

    #about h3 {
        font-size: 250%;
        color: rgb(63, 27, 2);
    }

    #benefits h2 {
        font-size: 250%;
        color: rgb(63, 27, 2);
    }

    #contact h3 {
        font-size: 250%;
        color: rgb(63, 27, 2);
    }

    #benefits h3 {
        font-size: 100%;
        color: rgb(63, 27, 2);
    }
    /*Event page*/
    #event h2 {
        font-size: 200%;
        font-weight: 200;
        padding: 10px;
        margin-left: 0px;
        margin-right: 100px;
        margin-bottom: 40px;
        width: 800px;
        height: 80px;
        align-content: center;
        text-align: center;

    }
    #event-time {
        width: 800px;
        height: 500px;
        padding: 20px;
        margin-left: 0px;
        margin-right: 20px;
        align-content: center;
    }

    #event-time li {
        font-weight: 550;
        font-size: 180%;
        justify-content: center;
        text-align: center;
        margin-bottom: 30px;
    }
    #venue {
        width: 500px;
        height: 200px;
        padding: 10px;
        margin-left: 150px;
        margin-right: 30px;
        margin-top:40px;
        align-content: center;
        text-align: center;
    
    }
    
    #venue li {
    
        font-weight: 300;
        padding: 3px;
        font-size: 150%;
    
    }  
    /*confirmation page*/
    #message{
        font-size:250%;
        color:rgb(51, 3, 3);
        font-weight: 200;
        margin: 100px 30px;
        text-align: center;
    }
}