/*Google fonts import*/

  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&family=Varela+Round&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*General Styles*/
body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    /* Generic project styles*/
    color:#3a3a3a;
}

/*Header*/
header{
    
    background-color:beige;
    padding:0 1rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow:0 2px 2px #3a3a3a;
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    
}
 h1{
    font-family: 'Caveat', sans-serif;
    text-transform:uppercase;
    letter-spacing:2px;
    color:rgb(71, 29, 5);
    text-shadow:5px ;

}
nav ul li a{
    text-decoration:none;
    color:black;
}
#menu{
    font-size:110%;
    letter-spacing:4px;
    list-style-type:none;
}
#menu>li{
    margin-bottom:1em;
}

/* Navbar styles with dropdown toggle*/
nav{
    position:absolute;
    background-color:beige;
    width:100%;
    left: 0;
    padding:0,1rem;
    box-shadow:0 2px 2px #3a3a3a;
    display:none;
    top:100%;

}
/*nav-toggle*/
#nav-toggle:checked~nav{
    display:block;
}
/*Main Section*/

main{
    background-color:aquamarine;
    /*Make the main section to take up the space to push the footer bottom of the page*/
    flex: 1 0 auto;
}

/*Footer*/

footer{
    background-color:orange;
}
@media only screen and(min-width:280px) {
    #logo{
        font-size:xx-small;
    }
    
}